.pirvelia {
    display: flex;
    align-items:flex-start;
       
  }
  .name {
    background: #675e5e;
    width:800px;
    padding:1em;
      ;
    
  }
  
  .posted-on {
    background: yellow;
  }
  
  .right Text {
    text-align: left;
    background: deepskyblue;
  }
  
  
  
  