main {
    min-width: 50%;
    width: 80%;
    padding: 1rem;
}
.posted-on {
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
    margin-bottom: 1rem;
}
body {
    display: flex;
    font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.625;
}


.name {
    text-align: center;
    font-size: xx-large;
}
.photo {
    width: 50%;
    margin: 1rem 25%;
}
 .photos qvesh {
    font-style: italic;
    text-align: center;
}

 .biographia {
    font-size: 0.75rem;
    text-align: center;
}
 .follow {
    background-color: rgba(123,115,209,0.35);
    padding: 0.3rem;
    padding-left: 0.25rem;
    font-weight: bolder;
    font-size: 0.9rem;
    border-left: 1rem solid #999298;
}
.For many years {
    font-style: italic;
}

