.name {
    text-align: center;
    font-size: xx-large;
}
.tagline {
    font-style: italic;
    text-align: center;
}
.profile {
    width: 50%;
    margin: 1rem 25%;
}
.blurb {
    font-size: 0.75rem;
    text-align: center;
}